<!DOCTYPE html>
<head>
  
    <title>Enquiry Form</title>
</head>

<center>
    <font color="black" size="4" style="font-family: avenir">
        
<body bgcolor="lightgrey">

<link href="contact-form.css" rel="stylesheet">

<div class="fcf-body">

    <div id="fcf-form">
    <h1 style="color: DodgerBlue">Enquiry Form</h1>

    <form  action="/addenquiry" autocomplete="on" method = "POST" enctype="multipart/form-data"  id="fcf-form-id" class="fcf-form-class"  >
        
        <div class="fcf-form-group">
            <label for="Name" class="fcf-label">Your name</label>
            <div class="fcf-input-group">
                <input type="text" id="Name" name="full_name" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Email" class="fcf-label">Your Email address</label>
            <div class="fcf-input-group">
                <input type="email" id="Email" name="mail" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Contact Number" class="fcf-label">Contact Number</label>
            <div class="fcf-input-group">
                <input  type="text" id="Number" name="cont_no" class="fcf-form-control" required>
            </div>
        </div>

        <div class="fcf-form-group">
            <label for="Message" class="fcf-label">Enquiry Details</label>
            <div class="fcf-input-group">
                <textarea id="Message" name="details" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
            </div>
        </div>

       <div class="fcf-form-group">
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Submit</button>
        </div>

    </form>
    </div>

</div>
    </font>
</center>
</body>
</html>
